* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: black;
    max-width: 1920px;
    width: auto;
}

.header {
    background: #ffa500;
    width: 100%;
    height: 110px;
    margin-bottom: 30px;
}

button {
    list-style: none;
    text-decoration: none;
    background:  #ffa500;
    border: 2px solid black;
    background:  #ffa500;
    padding: 10px;
    color: black;
    padding: 10px;
    font-family: arial;
    border-radius: 15px;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    margin-top: 10px;
    margin-left: 15px;
}

.top_menu ul {
    list-style: none;
    /*убираем маркеры списка*/
    margin: 0;
    /*убираем отступы*/
    padding-left: 0;
    /*убираем отступы*/
    display: flex;
}

.top_menu a {
    display: block;
    text-decoration: none;
    /*убираем подчеркивание текста ссылок*/
    background: #ffa500;
    border: 2px solid black;
    /* Параметры границы */
    background: #ffa500;
    /* Цвет фона */
    padding: 10px;
    /* Поля вокруг текста */
    /*добавляем фон к пункту меню*/
    color: black;
    /*меняем цвет ссылок*/
    padding: 10px;
    /*добавляем отступ*/
    font-family: arial;
    /*меняем шрифт*/
    border-radius: 4px;
    /*добавляем скругление*/
    -moz-transition: all 0.3s 0.01s ease;
    /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    margin-left: 10px;
}

.top_menu a:hover {
    background: #1C85BB;
    /*добавляем эффект при наведении*/
}

.top_menu {
    margin-left: 45%;
    margin-top: -65px;

}

.logo {
    float: right;
    margin-top: -68px;
}

.request{
    margin: auto;
    background: #ffa500;
    max-width: 720px;
    min-height: 500px;
    border-radius: 15px;
}

h1{
    margin-top: 10px;
text-align: center;
}
.names {
    float: left;
    margin: 0;
}

.description {
    margin-top: 30px;
    text-align: center;
}

textarea {
    resize: none
}

.name-request {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
}

.name-category {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
}

.name-description {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 90px;
}

.number-phone {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
}

#name-request {
    background: #ffa500;
    float: left;
    margin-top: 0;
    margin-left: 10px;
    font-size: 15px;
    border: 2px solid black;
}

#category {
    background: #ffa500;
    float: left;
    margin-top: 0;
    font-size: 15px;
    margin-left: 109px;
    border: 2px solid black;
}

#names {
    float: left;
    margin-left: 114px;
    margin-top: 3px;
    background: #ffa500;
    border: 2px solid black;
}

#number {
    float: left;
    margin-left: 57px;
    margin-top: 3px;
    background: #ffa500;
    border: 2px solid black;
}
.image-download{
    margin-top: 30px;
    text-align: center;
}
.btn-success{
    background: #ffa500;
    padding: 20px;
    margin-left: 80%;
margin-top: 15%;


}
button:hover{
     background: #1C85BB;

}
